AVAILABILITY_ZONE="{{ node_az }}"

REGION="{{ node_region }}"

STORAGE="{{ storage_path }}/{{ storage_size }}"

ADVERTISE="{{ node_private_ip }}"

PUBLIC_IP="{{ node_public_ip }}"

PRIVATE_IP="{{ node_private_ip }}"
