[Unit]
Description=CockroachDB
Requires=network.target
After=syslog.target network.target
[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/cockroachdb
ExecStart=/usr/local/bin/cockroach start --insecure --advertise-addr ${PRIVATE_IP} --advertise-sql-addr ${PUBLIC_IP} --http-addr ${PUBLIC_IP} --locality=region=${REGION},datacenter=${AVAILABILITY_ZONE} --log-dir /var/log --pid-file /var/run/cockroach.pid --store=${STORAGE} --join=${SEEDS} --cache=.25 --max-sql-memory=.25
ExecStop=/usr/local/bin/cockroach quit --insecure
User=root
PIDFile=/var/run/cockroach.pid
LimitNOFILE=35000
[Install]
WantedBy=multi-user.target