---
- name: configure swap
  hosts: nodes
  become: yes
  vars:
    swap_file_size_mb: '1024'
  roles:
    - ansible-role-swap
  tags:
    - swap

# https://www.cockroachlabs.com/docs/v20.1/recommended-production-settings#storage
# The maximum recommended storage capacity per node is 2.5 TiB, regardless of the number of vCPUs.
- name: configure storage
  hosts: nodes
  become: yes
  vars:
    mdadm_arrays:
      - name: 'md0'
        devices:
          - '/dev/nvme0n1'
        filesystem: 'xfs'
        level: '0'
        mountpoint: '/var/lib/cockroachdb'
        state: 'present'
        opts: 'noatime,nofail'
        force: true
  roles:
    - ansible-mdadm
  tags:
    - mdadm

- name: setup chrony
  hosts: nodes
  roles:
    - ansible-chrony
  tags:
    - chrony

- name: setup cockroachdb nodes
  hosts: nodes
  vars:
    seeds: "{{ groups['nodes'] | map('extract', hostvars, ['ansible_eth0', 'ipv4', 'address']) }}"
  roles:
    - ansible-cockroachdb
  tags:
    - crdb

- name: setup cockroachdb loaders
  hosts: loaders
  vars:
    nodes: "{{ groups['nodes'] }}"
  roles:
    - ansible-cockroachdb-loader
  tags:
    - loader
