---
- name: Install configuration
  become: yes
  template:
    src: cockroachdb.sysconfig
    dest: /etc/sysconfig/cockroachdb

- name: Install systemd unit
  become: yes
  template: src=cockroachdb.service dest=/lib/systemd/system/cockroachdb.service mode=644
  notify:
    - reload systemctl
